body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: url("../img/musik.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 30px;
  width: 350px;
  color: white;
  text-align: center;
}
.container input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
}
.container .btn {
  width: 100%;
  padding: 12px;
  background: #00c896;
  color: rgb(247, 245, 245);
  font-weight: bold;
  border: none;
  border-radius: 8px;
  margin-top: 15px;
  cursor: pointer;
}

.container button:hover {
  background: #00a87c;
}

.container a {
  display: block;
  margin-top: 15px;
  color: white;
  text-decoration: none;
}

.container a:hover {
  color: rgb(8, 8, 8);
}